#test {
  text-align: center;
  margin: 0 100px;
}

#test .quest {

}

#test .test-header {
  text-align: left;
}

#test .title {
  text-align: left;
  background-color: #ddd;
  padding: 30px;
  border-top: 3px solid #e91e63;
}

#test .answers {
  margin: 30px 0;
}

#test .answers .answer {
  cursor: pointer;
  display: flex;
  background: #e0e0e0;
  padding: 20px;
  margin: 10px 0;
}

#test .answers .answer.choice {
  background: #16d6c4;
}
#test .answers .answer.focus {
  background: #c0c0c0;
}

#test .answers .answer .answer-content {
  user-select: none;
}

#test .answers .answer .answer-label {
  user-select: none;
  width: 50px;
  background: #00BCD4;
  margin: -20px;
  margin-right: 10px;
  padding: 20px 10px;
  font-weight: bold;
  color: #fff;
  border-right: 3px solid #2196f3;
  text-transform: uppercase;
}

#acceptOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.62);
  transition: opacity .3s ease-in-out;
}

#acceptOverlay.fade {
  opacity: 0;
  pointer-events: none;
}

#acceptOverlay .accept-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

#acceptOverlay .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #009688;
  width: 105px;
  height: 95px;
  border-radius: 50%;
  animation: accept-spinner 1.5s ease 0s infinite;
}

@keyframes accept-spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  70% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
