#home {

}

#home .card-box {
  display: flex;
}

#home .card-box .c1,
#home .card-box .c2,
#home .card-box .c3 {
  flex: auto;
}

#home .card {
  background-color: #ccc;
  margin: 10px;
  height: 300px;
  padding: 10px;
}

#home .c1-h {
  height: 100px;
}

#home .c2-h {
  height: 150px;
}

#home .c3-h {
  height: 50px;
}
