#home {

}

#home .tooltip {
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: #f1f0f0;
}


#home .card-box {
  display: flex;
}

#home .card-box .c1,
#home .card-box .c2,
#home .card-box .c3 {
  flex: auto;
}

#home .card {
  background-color: #ccc;
  margin: 15px 10px;
  height: 300px;
  padding: 10px;
}

#home .c1-h,
#home .c3-h {
  background-color: #607d8b;
  height: 100px;
}

#home .c2-h {
  background-color: #607d8b;
  height: 200px;
}
