.alert {
  cursor: pointer;
  position: fixed;
  top: 70px;
  left: 100%;
  width: 300px;
  padding: 20px;
  transform: translateX(0);
  transition: transform .3s ease-in-out;
}

.alert.open {
  transform: translateX(-320px);
}

.alert.danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert.info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert.primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
