#main {
  display: flex;
  position: fixed;
  top: 50px;
  right: 0;
  width: calc(100vw - 250px);
  height: calc(100vh - 50px);
  overflow-y: auto;
  padding: 30px;
}

#main .main-ad {
  width: 0;
}

#main .main-content {
  width: 100%;
}

#main.extra {
  width: calc(100vw - 50px);
}
