html
  head
    title=title
    meta(meta name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    #sidebar.open
      ul.sidebar-menu
        li.header QUICK ACCESS
        li.item.active News Feed
        li.item Test Now
    #content
      block content
        
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client.js')
