#sidebar {
  overflow: hidden;
  width: 50px;
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #222d32;
  color: #fff;
}

#sidebar.open {
  width: 250px;
}

#sidebar.open li.header {
  transform: rotateX(0);
  height: 41px;
}

#sidebar ul.sidebar-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar ul.sidebar-menu a {
  text-decoration: none;
}

#sidebar li.item {
  color: #fff;
  padding: 12px 5px 12px 15px;
  display: block;
  border-left: 3px transparent solid;
  cursor: pointer;
  white-space: nowrap;
}

#sidebar li.item > i {
  width: 32px;
}

#sidebar a.active li.item {
  border-left-color: #dd4b39;
  background-color: #1e282c;
}

#sidebar a:hover li.item {
  background-color: #1e282c;
}

#sidebar li.header {
  transition: transform .3s ease-in-out, height .3s ease-in-out;
  transform: rotateX(90deg);
  height: 0;
  white-space: nowrap;
  color: #4b646f;
  background-color: #1a2226;
  padding: 0 25px 0 15px;
  line-height: 41px;
  font-size: 12px;
}

#sidebar .user-status {
  display: flex;
  line-height: 50px;
}

#sidebar .user-status .name-label {
  width: 100%;
}

#sidebar .user-status i {
  height: 50px;
  width: 50px;
  line-height: 50px;
}

#sidebar.open #search {
  display: block;
}

#search {
  display: none;
  color: #ddd;
  border-color: #1a2226;
  width: calc(100% - 10px);
  margin: 5px;
  margin-bottom: 15px;
  background: #2b383e !important;
}
