#sidebar {
  overflow: hidden;
  width: 50px;
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #222d32;
}

#sidebar.open {
  width: 250px;
}

#sidebar.open li.header {
  transform: rotateX(0);
  height: 41px;
}

#sidebar ul.sidebar-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar ul.sidebar-menu a {
  text-decoration: none;
}

#sidebar li.item {
  color: #fff;
  padding: 12px 5px 12px 15px;
  display: block;
  border-left: 3px transparent solid;
  cursor: pointer;
  white-space: nowrap;
}

#sidebar li.item > i {
  margin-right: 15px;
}

#sidebar a.active li.item, #sidebar a:hover li.item {
  border-left-color: #dd4b39;
  background-color: #1e282c;
}

#sidebar li.header {
  transition: transform .3s ease-in-out, height .3s ease-in-out;
  transform: rotateX(90deg);
  height: 0;
  white-space: nowrap;
  color: #4b646f;
  background-color: #1a2226;
  padding: 0 25px 0 15px;
  line-height: 41px;
  font-size: 12px;
}
