#db .db-nav {
  background: #ddd;
  border: #777;
  height: 50px;
  display: flex;
  user-select: none;
  text-transform: uppercase;
  font-size: 12px;
}

#db .db-nav div {
  color: #222;
  line-height: 50px;
  padding: 0 10px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

#db .db-nav div:hover {
  background: rgba(0, 0, 0, 0.12);
}

#db .db-nav > div.active {
  border-bottom: 3px solid #009688;
}

#db .db-content {
  padding: 20px 0;
}

#db .list-users {
  display: flex;
  flex-wrap: wrap;
  margin: 5px -5px;
}

#db .list-users > div {
  width: 20%;
}

#db .list-users .item {
  display: block;
  background: #ddd;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

#db .list-users .item:hover {
  background: #ccc;
  user-select: none;
}

#db .list-users .item > i {
  color: #aaa;
  margin-right: 7px;
}

#db .list-users .item > i.online {
  color: #5cb85c;
}

#db .modal .footer {
  text-align: right;
}

#db .modal label {
  margin-top: 20px;
}
